<main class="container">
  <div class="btnAjout">
    <nav>
      <a routerLink="/add">
        <button [disabled]="!isLogged()" mat-flat-button color="accent" class="btnAjout">
          Ajouter Assignment
        </button>
      </a>
    </nav>
  </div>

  <h3>Liste des devoirs :</h3>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="assignments" matSort>
      <!-- Date de Rendu Column -->
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de Rendu </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.dateDeRendu | date}} </td>
      </ng-container>

      <!-- Nom Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let assignment"> {{assignment.nom}} </td>
      </ng-container>

      <!-- Statut Column -->
      <ng-container matColumnDef="statut">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
        <td mat-cell *matCellDef="let assignment"> 
          <span *ngIf="assignment.rendu" appRendu>RENDU</span>
          <span *ngIf="!assignment.rendu" appNonRendu>N'A PAS ETE RENDU</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" class="sticky"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openAssignmentDetail(row)"></tr>
    </table>
    <mat-paginator [length]="totalDocs"
               [pageSize]="limit"
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               (page)="onPageChange($event)">
</mat-paginator>

  </div>
</main>
