<form ngForm (submit)="onSubmit($event);assignmentForm.reset();"
     #assignmentForm
     class="form"
>
  <mat-form-field>
    <mat-label> Nom : </mat-label>
    <input matInput
           placeholder="Nom du devoir"
           [(ngModel)]="nomDevoir"
           name="nom"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker"
          [(ngModel)]="dateDeRendu"
          name="date"
    >
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label> Auteur : </mat-label>
    <input matInput
           placeholder="Auteur"
           [(ngModel)]="auteur"
           name="auteur"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Matière : </mat-label>
    <input matInput
           placeholder="Matière"
           [(ngModel)]="matiere"
           name="matiere"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Photo du professeur: </mat-label>
    <input matInput
           placeholder="URL de la photo"
           [(ngModel)]="photoProf"
           name="photo"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label> Photo de la matière: </mat-label>
    <input matInput
           placeholder="URL de la photo"
           [(ngModel)]="photoMatiere"
           name="photo"
    />
  </mat-form-field>
  <button [disabled]="!isLogged()" type='button' mat-stroked-button color="primary" (click)="onSubmit($event)">Ajouter devoir</button>
</form>

