  <div class="container">
    <form ngForm class="form" #formupdate (submit)="onLogin(); formupdate.reset(); ">
      <mat-form-field>
        <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="username" name="Username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Mot de passe" [(ngModel)]="password" name="pass" type="password">
      </mat-form-field>
      <button mat-raised-button color="primary">
        Log In
      </button>
    </form>
   </div>

   <p>Login : user et userpass</p>
   <p>Login Admin: admin et userpass</p>

         